<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>GIGA BACH 메인 페이지</title>
</head>


<body>
    <h1>Giga Bach</h1>
    <div class="topnav">
        <a class="active" href="#home">메인페이지</a>
        <a href="#news">음원생성</a>
        <a href="#contact">보컬생성</a>
        <a href="#about">게시판</a>
    </div>

    <div>
        <img src="{% static 'img/main/gigabach.png' %}" alt="giga_bach_img">
        <h3>Abstract</h3>
        <p>창의성이 무한한 현대 사회에서, 많은 사람들이 자신만의 음악 작품을 창작하고, 혹은 저작권 제약을 걱정하지 않고 자유로운 노래를 만들고자 합니다. 기업들은 음성 배우나 가수를 대신할 가상 음성 배우나 가수를 개발하는 것에 큰 흥미를 느낄 것입니다. 더불어 콘텐츠 크리에이터들은 동영상에 무료로 사용할 수 있는 음악을 쉽게 편집하여 자신의 작품에 노래와 함께 더욱 감동적인 메시지를 담고자 할 것입니다.
        이러한 창조적 흐름의 융합은 예술적 표현과 기술적 발전이 새로운 가능성의 문을 열어주고 있으며, 음악 작곡에 열정을 품은 예비 음악가, 가상 음성 능력을 활용하려는 기업, 또는 동영상에 완벽한 저작권 무료 사운드 트랙을 필요로 하는 콘텐츠 크리에이터들에게는 더 넓은 창작의 기회와 가능성을 제공하고 있습니다.
        </p>
    </div>

</body>
</html>