{% block content %}
    <h3>{{ post.title }}</h3>
    <p>{{ post.content }}</p>
    <p>작성자: {{ post.author.username }}</p>
    <p>작성일: {{ post.created_at }}</p>

    {% if post.audio_file %}
        <audio controls>
            <source src="{{ post.audio_file.url }}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
        <p>오디오 파일: <a href="{{ post.audio_file.url }}" download>다운로드</a></p>
    {% endif %}


    <a href="{% url 'edit_post' post.id %}">수정</a> 
    <a href="{% url 'board' %}">게시판으로</a>
    <a href="{% url 'delete_post' post.id %}">삭제</a>  <!-- 삭제 링크 추가 -->
{% endblock %}