img {
    display: block;
    margin-top: 20px;
    width: 85%;
    height: auto;
    text-align: center;
}

.content-container {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.container {
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 800px;
    width: 100%;
    /* 변경: 화면 너비의 80%로 조절 */
    text-align: center;
    /* 변경: 텍스트를 가운데 정렬 */
}

h2 {
    color: black;
    margin-bottom: 10px;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 30px;
}

p {
    text-align: justify;
    max-width: 700px;
    margin: 0 auto;
    font-family: 'Gowun Dodum', sans-serif;
    font-size: 15px;
}

.bottom-buttons {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.bottom-buttons a {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: rgb(62, 62, 62);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.bottom-buttons a:hover {
    background-color: #b2b2b2;
}