img {
    display: block;
    margin: auto;
    margin-top: 30px;
    width: 50%;
    max-width: 600px;
    height: auto;
}

.container {
    margin-bottom: 50px;
    max-width: 800px;
    max-height: 800px;
    width: 800px;
}

h2 {
    text-align: center;
    color: #4CAF50;
}

p {
    text-align: justify;
    width: 700px;
    margin: 0 auto;
}

.bottom-buttons {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.bottom-buttons a {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.bottom-buttons a:hover {
    background-color: #45a049;
}