{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style/main/mypage.css' %}">

<h2>Mypage</h2>
  
{% if edit_mode %}
  <form id="edit-mode-form" method="post" action="{% url 'mypage' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">저장하기</button>
  </form>
{% else %}
  <div id="read-mode-info">
    <p>이름: {{ user.first_name }}</p>
    <p>아이디: {{ user.username }}</p>
    <p>이메일: {{ user.email }}</p>
  </div>
  <div id="edit-account">
    <a href="{% url 'edit_profile' %}">프로필 수정하기</a>
    <a href="{% url 'delete_account' %}">회원 탈퇴</a>
{% endif %}

    <a href="{% url 'main' %}">메인으로</a></li>
  </div>
{% endblock %}
