{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style/ms_page/style.css' %}">
<div class="content-container">
    <h2 class="mt-4">음원 생성하기</h2>
    <form id="generateForm" method="post" enctype="multipart/form-data" class="mt-4">
        <div class="input-file">
            {% csrf_token %}
            {{ form.as_p }}
        </div>
        <div class="checkbox-box mt-4">
            <fieldset class="mainQset border p-2">
                <legend class="w-auto">메인 악기 선택</legend>
                <div class="subQset">
                    <label class="checkbox-inline"><input type="checkbox" name="condition" value="b">Bass</label>
                    <label class="checkbox-inline"><input type="checkbox" name="condition" value="d">Drums</label>
                    <label class="checkbox-inline"><input type="checkbox" name="condition" value="g">Guitar</label>
                    <label class="checkbox-inline"><input type="checkbox" name="condition" value="l">Lead</label>
                    <label class="checkbox-inline"><input type="checkbox" name="condition" value="p">Piano</label>
                    <label class="checkbox-inline"><input type="checkbox" name="condition" value="s">Strings</label>
                    <label class="checkbox-inline"><input type="checkbox" name="condition" value="c">Chords</label>
                </div>
            </fieldset>
        </div>
        <div class="checkbox-box mt-4">
            <fieldset class="mainQset border p-2">
                <legend class="w-auto">추가 악기 선택</legend>
                <div class="subQset">
                    <label class="checkbox-inline"><input type="checkbox" name="content" value="b">Bass</label>
                    <label class="checkbox-inline"><input type="checkbox" name="content" value="d">Drums</label>
                    <label class="checkbox-inline"><input type="checkbox" name="content" value="g">Guitar</label>
                    <label class="checkbox-inline"><input type="checkbox" name="content" value="l">Lead</label>
                    <label class="checkbox-inline"><input type="checkbox" name="content" value="p">Piano</label>
                    <label class="checkbox-inline"><input type="checkbox" name="content" value="s">Strings</label>
                </div>
            </fieldset>
        </div>
        <div class="text-center mt-4">
            <button id="loadingButton" type="submit" class="btn btn-primary custom-btn">생성하기</button>
        </div>
    </form>
    <button id="loadingSpinner" class="btn btn-primary custom-btn" style="display: none;">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Loading...
    </button>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
<script>
    document.getElementById('generateForm').addEventListener('submit', function (event) {
        // 로딩 중 스피너 표시
        document.getElementById('loadingSpinner').style.display = 'inline-block';
    });
</script>

{% endblock %}

